In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/home/kiran/Downloads/titanic.csv')

In [3]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.isnull().sum()

PassengerId      0
Name             0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Survived         0
dtype: int64

In [5]:
pd.set_option('display.max_column',None)

In [6]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [7]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [8]:
df = df.drop(['Cabin','SibSp','Parch','Fare','Name','Ticket','Embarked','PassengerId'],axis=1)

In [9]:
age = df['Age'].median()

In [10]:
df['Age'] = df['Age'].fillna(age)

In [11]:
df['Age'].isnull().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   Survived  891 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 28.0+ KB

In [13]:
df

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
886       2    male  27.0         0
887       1  female  19.0         1
888       3  female  28.0         0
889       1    male  26.0         1
890       3    male  32.0         0

[891 rows x 4 columns]

In [14]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [15]:
df['Sex'] = df['Sex'].map({'male':0,'female':1})

In [16]:
x = df.iloc[:,:-1]
x

     Pclass  Sex   Age
0         3    0  22.0
1         1    1  38.0
2         3    1  26.0
3         1    1  35.0
4         3    0  35.0
..      ...  ...   ...
886       2    0  27.0
887       1    1  19.0
888       3    1  28.0
889       1    0  26.0
890       3    0  32.0

[891 rows x 3 columns]

In [17]:
y = df.iloc[:,-1:]
y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [18]:
df['Survived'].unique()

array([0, 1])

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=87)

In [21]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train,y_train)

/home/kiran/miniconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [22]:
y_pred = classifier.predict(x_test)
y_pred

array([0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0])

In [23]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
score*100

79.47761194029852

In [26]:
#pip install autoviz

SyntaxError: invalid syntax (1967148659.py, line 2)

In [27]:
pip install channels

Collecting channels
  Downloading channels-3.0.4-py3-none-any.whl (38 kB)
Requirement already satisfied: Django>=2.2 in /home/kiran/miniconda3/lib/python3.8/site-packages (from channels) (3.0)
Requirement already satisfied: asgiref<4,>=3.3.1 in /home/kiran/miniconda3/lib/python3.8/site-packages (from channels) (3.4.1)
Collecting daphne<4,>=3.0
  Downloading daphne-3.0.2-py3-none-any.whl (26 kB)
Collecting autobahn>=0.18
  Downloading autobahn-22.5.1.tar.gz (435 kB)
     |████████████████████████████████| 435 kB 92 kB/s eta 0:00:011
Requirement already satisfied: cryptography>=3.4.6 in /home/kiran/miniconda3/lib/python3.8/site-packages (from autobahn>=0.18->daphne<4,>=3.0->channels) (37.0.1)
Requirement already satisfied: setuptools in /home/kiran/miniconda3/lib/python3.8/site-packages (from autobahn>=0.18->daphne<4,>=3.0->channels) (60.10.0)
Requirement already satisfied: cffi>=1.12 in /home/kiran/miniconda3/lib/python3.8/site-packages (from cryptography>=3.4.6->autobahn>=0.18->daphne<4,>=3.0->channels) (1.15.0)
Requirement already satisfied: pycparser in /home/kiran/miniconda3/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=3.4.6->autobahn>=0.18->daphne<4,>=3.0->channels) (2.21)
Requirement already satisfied: sqlparse>=0.2.2 in /home/kiran/miniconda3/lib/python3.8/site-packages (from Django>=2.2->channels) (0.4.1)
Requirement already satisfied: pytz in /home/kiran/miniconda3/lib/python3.8/site-packages (from Django>=2.2->channels) (2021.3)
Collecting hyperlink>=21.0.0
  Downloading hyperlink-21.0.0-py2.py3-none-any.whl (74 kB)
     |████████████████████████████████| 74 kB 85 kB/s eta 0:00:011
Requirement already satisfied: idna>=2.5 in /home/kiran/miniconda3/lib/python3.8/site-packages (from hyperlink>=21.0.0->autobahn>=0.18->daphne<4,>=3.0->channels) (3.3)
Collecting twisted[tls]>=18.7
  Downloading Twisted-22.4.0-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 110 kB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=3.6.5 in /home/kiran/miniconda3/lib/python3.8/site-packages (from twisted[tls]>=18.7->daphne<4,>=3.0->channels) (4.1.1)
Requirement already satisfied: attrs>=19.2.0 in /home/kiran/miniconda3/lib/python3.8/site-packages (from twisted[tls]>=18.7->daphne<4,>=3.0->channels) (21.4.0)
Requirement already satisfied: pyopenssl>=16.0.0 in /home/kiran/miniconda3/lib/python3.8/site-packages (from twisted[tls]>=18.7->daphne<4,>=3.0->channels) (22.0.0)
Collecting Automat>=0.8.0
  Downloading Automat-20.2.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: six in /home/kiran/miniconda3/lib/python3.8/site-packages (from Automat>=0.8.0->twisted[tls]>=18.7->daphne<4,>=3.0->channels) (1.16.0)
Collecting constantly>=15.1
  Downloading constantly-15.1.0-py2.py3-none-any.whl (7.9 kB)
Collecting incremental>=21.3.0
  Downloading incremental-21.3.0-py2.py3-none-any.whl (15 kB)
Collecting service-identity>=18.1.0
  Downloading service_identity-21.1.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: pyasn1 in /home/kiran/miniconda3/lib/python3.8/site-packages (from service-identity>=18.1.0->twisted[tls]>=18.7->daphne<4,>=3.0->channels) (0.4.8)
Requirement already satisfied: pyasn1-modules in /home/kiran/miniconda3/lib/python3.8/site-packages (from service-identity>=18.1.0->twisted[tls]>=18.7->daphne<4,>=3.0->channels) (0.2.8)
Collecting txaio>=21.2.1
  Downloading txaio-22.2.1-py2.py3-none-any.whl (30 kB)
Collecting zope.interface>=4.4.2
  Downloading zope.interface-5.4.0-cp38-cp38-manylinux2010_x86_64.whl (259 kB)
     |████████████████████████████████| 259 kB 65 kB/s eta 0:00:01
Building wheels for collected packages: autobahn
  Building wheel for autobahn (setup.py) ... done
  Created wheel for autobahn: filename=autobahn-22.5.1-cp38-cp38-linux_x86_64.whl size=644077 sha256=0a7cc26bb6ab300f0e6edcaa675384237b1cd7723829f9506135668b673bd3fe
  Stored in directory: /home/kiran/.cache/pip/wheels/5a/79/11/20abbf0edd7a8446f4023706b814a1668a4d23651f0616399a
Successfully built autobahn
Installing collected packages: zope.interface, incremental, hyperlink, constantly, Automat, txaio, twisted, service-identity, autobahn, daphne, channels
Successfully installed Automat-20.2.0 autobahn-22.5.1 channels-3.0.4 constantly-15.1.0 daphne-3.0.2 hyperlink-21.0.0 incremental-21.3.0 service-identity-21.1.0 twisted-22.4.0 txaio-22.2.1 zope.interface-5.4.0
Note: you may need to restart the kernel to use updated packages.

In [25]:
from autoviz.AutoViz_Class import AutoViz_Class
av = AutoViz_Class()

Alert! from version 0.1.39, fter importing, you must do '%matplotlib inline' to display charts in Jupyter Notebooks.
    AV = AutoViz_Class()
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=0, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)
Note: verbose=0 or 1 generates charts and displays them in your local Jupyter notebook.
      verbose=2 does not display plots but saves them in AutoViz_Plots folder in local machine.
Updated: chart_format='bokeh' generates and displays charts in your local Jupyter notebook.
      chart_format='server' generates and displays charts in the browser - one tab for each chart.
      chart_format='html' silently saves charts HTML format - they are also interactive!

ModuleNotFoundError: No module named 'channels'

In [ ]:
filename = '/home/kiran/Downloads/titanic.csv'
sep=","
dft = av.AutoViz(
filename,
sep=",",
depVar="",
header=0,
verbose=0,
lowess=False,
chart_format='svg',
max_row_analyzed=150000)